<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="run.js" verb="*" modules="iisnode" />
    </handlers>    
    <iisnode nodeProcessCommandLine="&quot;%programfiles%\nodejs\node.exe&quot;" />
    <defaultDocument>
      <files>
        <add value="run.js" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>