<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="run.js" verb="*" modules="iisnode" />
    </handlers>    
    <iisnode nodeProcessCommandLine="&quot;%programfiles%\nodejs\node.exe&quot;" />
    <defaultDocument>
      <files>
        <add value="run.js" />
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <rule name="nodejs-urls">
          <match url="/*" />
          <action type="Rewrite" url="run.js" />
        </rule>
      </rules>
    </rewrite>    
  </system.webServer>
</configuration>